<div id="<%= dom_id furniture %>">
  <p>
    <strong>Name:</strong>
    <%= furniture.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= furniture.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= furniture.content %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= furniture.price %>
  </p>

</div>
